
.card {
  box-shadow:5px 6px 20px 15px rgb(78, 9, 190);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 5px 5px 30px 10px rgb(0, 0, 0);
}

.container {
  padding: 2px 16px;
  text-align: center;
  justify-content: center;
}
